@import 'variables'
@import 'reset'
    
*, *:before, *:after
    font-family: 'Trebuchet MS', Helvetica, sans-serif

.header
    padding: 20px 35px
    background-color: $white-backgroud
    position: fixed
    top: 0
    width: 100%
    z-index: 1
.nav
    display: flex
    justify-content: end
    align-items: baseline
    gap: 37px
    &__item
        font-size: 15px
    &__login
        border-radius: 100px
        color: $white-text
        font-size: 18px
        padding: 12px 30px
        background-color: $light-pink

.heading
    min-height: 952px
    padding: 570px 355px 0 215px
    color: $white-text
    background-image: url('../image/main_background.jpg')
    background-size: cover
    box-shadow: inset 0 0 0 100vw rgba(47, 24, 147, 0.3)
    &__title
        font-weight: 700
        font-size: 58px
        line-height: 70px
    &__description
        font-weight: 400
        line-height: 32px
        max-width: 670px
        font-size: 22px
        padding-top: 24px
    
.photogallery
    max-width: 1400px
    padding: 100px 115px
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(4, 210px)
    grid-gap: 1.5rem
    grid-gap: 30px
    align-items: stretch
    justify-items: stretch
    grid-template-areas: "A B C" "A E C" "A E F" "D E F"
    &__img
        border-radius: 25px
        max-width: 370px
        object-fit: cover
        &:nth-child(1)
            grid-area: A
        &:nth-child(2)
            grid-area: B
        &:nth-child(3)
            grid-area: C
        &:nth-child(4)
            grid-area: D
        &:nth-child(5)
            grid-area: E
        &:nth-child(6)
            grid-area: F
.visually
    max-width: 937px
    padding-top: 100px
    padding-bottom: 143px
    margin: 0 auto
    color: $white-text
    &__wrapper
        background-color: $gray-background
    &__main-el
        max-width: 770px
        margin: 0 auto
        padding-bottom: 90px
        &__title
            font-weight: 700
            font-size: 42px
            line-height: 52px
            text-align: center
            padding-bottom: 40px
        &__video
            width: 770px
            height: 523px
    &__other-el
        display: flex
        justify-content: row
        gap: 55px
        &__el
            display: flex
            justify-content: row
            gap: 30px
            &__video
                width: 170px
                height: 110px
            &__text
                &__title
                    font-weight: 700
                    font-size: 14px
                    line-height: 26px
                    text-transform: uppercase
                    padding-bottom: 11px
                &__info
                    font-size: 16px
                    font-weight: 400
                    line-height: 26px
                    opacity: 70%
                    
.info
    display: flex
    justify-content: space-between
    &__content
        padding-top: 117px
        padding-left: 115px
        &__heading
            max-width: 570px
            padding-bottom: 67px
            &__title
                font-weight: 700
                font-size: 42px
                line-height: 52px
                padding-bottom: 32px
                color: $purple-text
            &__description
                max-width: 540px
                font-weight: 500
                font-size: 22px
                line-height: 32px
                padding-bottom: 46px
                color: $gray-text
            &__button-detail
                padding: 12px 30px
                background-color: $light-pink
                border-radius: 100px
                color: $white-text
        &__technologies
            display: flex
            gap: 85px
            max-width: 591px
            &__el
                &__img
                    max-width: 54px
                    padding-bottom: 25px
                &__title
                    font-weight: 500
                    font-size: 22px
                    line-height: 32px
                    padding-bottom: 24px
                    color: $purple-text
                &__description
                    font-weight: 400
                    font-size: 16px
                    line-height: 26px
                    color: $gray-text
    &__img
        max-width: 485px



.tariff
    color: $white-text
    padding-top: 100px
    padding-bottom: 150px
    max-width: 770px
    margin: 0 auto
    &__wrapper
        background-color: $gray-background
    &__title
        font-weight: 700
        font-size: 42px
        line-height: 52px
        text-align: center
        padding-bottom: 40px
    &__variations
        display: flex
        gap: 24px
        justify-content: center
        padding-bottom: 60px
        &__toggle-switch
            position: relative
            display: inline-block
            width: 42px
            height: 30px

            &__input
                opacity: 0
                width: 0
                height: 0
                &:checked + .tariff__toggle-switch__slider
                    background-color: #25DAC5
                    &::before
                        transform: translateX(12px)
            &__slider
                position: absolute
                cursor: pointer
                background-color: #ABABAB
                border-radius: 22px
                width: 100%
                height: 100%
                transition: background-color 0.3s
                &::before
                    content: ""
                    position: absolute
                    height: 24px
                    width: 24px
                    left: 3px
                    bottom: 3px
                    background-color: #FFFFFF
                    border-radius: 22px
                    transition: transform 0.3s
   
    &__service
    