@import 'variables'
@import 'reset'
    
*, *:before, *:after
    font-family: 'Trebuchet MS', Helvetica, sans-serif

.page
    position: relative
    overflow: hidden
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100vh

.header
    padding: 20px 35px
    background-color: $white-backgroud
    position: fixed
    top: 0
    width: 100%
    z-index: 1
.nav
    display: flex
    justify-content: end
    align-items: baseline
    gap: 37px
    &__item
        font-size: 15px
    &__login
        border-radius: 100px
        color: $white-text
        font-size: 18px
        padding: 12px 30px
        background-color: $light-pink
        transition: all 0.3s
        &:hover
            background-color: $dark-pink
            transition: all 0.3s

    &__burger 
        border: 0
        background-color: transparent
        cursor: pointer
        height: auto
        display: none
        padding: 10px 0
        margin-left: auto
        &-active
            &.nav__burger__image 
                background: none
                &:before 
                    transform-origin: left top
                    transform: rotate(47deg) translateX(-1px)
                    background-color: black

                &:after
                    transform-origin: left bottom
                    transform: rotate(-45deg) translateX(-1px)
                    background-color: black
        &:focus 
            outline: none
        &__image 
            width: 25px
            height: 2px
            background-color: #252525
            position: relative
            border-radius: 50px

            &:after,
            &:before 
                width: 100%
                height: 2px
                position: absolute
                content: ""
                display: block
                background-color: #252525
                transition: transform .2s linear
            &:after
                bottom: -8px
            &:before 
                top: -8px
    &__open
        display: flex !important
        align-items: center
        flex-direction: column
        gap: 37px
        transition: transform .2s linear
    @media (max-width: 498px)
        display: none
        
        &__burger
            display: block



.intro
    max-height: 952px
    padding: 570px 0px 122px 215px
    color: $white-text
    background-image: url('../image/main_background.jpg')
    background-size: cover
    box-shadow: inset 0 0 0 100vw rgba(47, 24, 147, 0.3)
    width: 100%
    height: 100%
    &__wrapper
        max-width: 830px
    &__title
        font-weight: 700
        font-size: 58px
        line-height: 70px
    &__description
        font-weight: 400
        line-height: 32px
        max-width: 670px
        font-size: 22px
        padding-top: 24px
    @media (max-width: 1024px)
        padding-left: 100px
    @media (max-width: 849px)
        padding-left: 20px
        padding-right: 20px
        padding-top: 150px
        padding-bottom: 40px
        &__wrapper
            margin: 0 auto
        &__title
            font-size: 40px
            line-height: 50px
    
.photogallery
    max-width: 1400px
    padding: 100px 115px
    margin: 0 auto
    display: grid
    grid-template-rows: repeat(4, 210px)
    grid-gap: 1.5rem
    grid-gap: 30px
    align-items: stretch
    justify-items: stretch
    grid-template-areas: "A B C" "A E C" "A E F" "D E F"
    &__img
        border-radius: 25px
        max-width: 370px
        object-fit: cover
        width: 100%
        &:nth-child(1)
            grid-area: A
        &:nth-child(2)
            grid-area: B
        &:nth-child(3)
            grid-area: C
        &:nth-child(4)
            grid-area: D
        &:nth-child(5)
            grid-area: E
        &:nth-child(6)
            grid-area: F
    @media (max-width: 1024px)
        padding-left: 20px
        padding-right: 20px
        grid-template-rows: repeat(4, 150px)
    @media (max-width: 768px)
        grid-template-rows: repeat(4, 100px)
    @media (max-width: 540px)
        grid-template-areas: "A F" "A F" "A B" "D E" "C E" "C E"
    @media (max-width: 375px)
        grid-template-areas: "A" "B" "C" "D" "E" "F"

.visually
    background-color: $gray-background
    &__wrapper
        max-width: 957px
        padding-top: 100px
        padding-bottom: 143px
        margin: 0 auto
        color: $white-text
    &__main
        max-width: 770px
        margin: 0 auto
        padding-bottom: 90px
    &__title
        font-weight: 700
        font-size: 42px
        line-height: 52px
        text-align: center
        padding-bottom: 40px
    &__video
        &--main
            width: 100%
            height: 523px
        &--other
            width: 170px
            height: 110px
    &__other
        display: flex
        justify-content: center
        gap: 55px
        flex-wrap: wrap
    &__item
        display: flex
        gap: 30px
        max-width: 451px
    &__subtitle
        font-weight: 700
        font-size: 14px
        line-height: 26px
        text-transform: uppercase
        letter-spacing: 2px
        padding-bottom: 11px
    &__info
        font-size: 16px
        font-weight: 400
        line-height: 26px
        opacity: 70%
    @media (max-width: 990px)
        &__wrapper
            padding-bottom: 50px
            padding-top: 20px
        &__title
            padding-bottom: 0px
            font-size: 30px
            line-height: 40px
        &__main
            padding-bottom: 40px
        &__item
            max-width: 100%
        &__video
            &--main
                height: 100%
    @media (max-width: 768px)
        &__video
            &--main
                height: 100%
    @media (max-width: 460px)
        &__other
            height: 100%
            padding-left: 10px
            padding-right: 10px
    @media (max-width: 580px) 
        &__item
            display: flex
            flex-direction: column

.info
    display: flex
    justify-content: space-between
    gap: 20px
    &__content
        padding-top: 117px
        padding-left: 115px
    &__intro
        max-width: 570px
        padding-bottom: 67px
    &__title
        font-weight: 700
        font-size: 42px
        line-height: 52px
        padding-bottom: 32px
        color: $purple-text
    &__description
        max-width: 540px
        font-weight: 500
        font-size: 22px
        line-height: 32px
        padding-bottom: 46px
        color: $gray-text
    &__button-detail
        padding: 12px 30px
        background-color: $light-pink
        border-radius: 100px
        color: $white-text
        transition: all 0.3s
        &:hover
            background-color: $dark-pink
            transition: all 0.3s
    &__technologies
        display: flex
        gap: 85px
        max-width: 591px
        flex-wrap: wrap
        padding-bottom: 89px
    &__technology
        max-width: 253px
        display: flex
        flex-direction: column
        gap: 25px
        &-img
            max-width: 54px
        &-title
            font-weight: 500
            font-size: 22px
            line-height: 32px
            color: $purple-text
        &-description
            font-weight: 400
            font-size: 16px
            line-height: 26px
            color: $gray-text
    &__img
        max-width: 485px
        object-fit: cover
    @media (max-width: 1210px)
        &__content
            padding-left: 50px
        &__technology
            max-width: 200px
    @media (max-width: 1039px)
        &__img
            max-width: 350px
    @media (max-width: 904px)
        &__img
            max-width: 150px
    @media (max-width: 768px)
        &__intro
            padding-bottom: 40px
        &__content
            padding-left: 20px
            padding-right: 20px
            padding-top: 40px
        &__title
            font-size: 30px
            line-height: 40px
        &__img
            display: none
        &__technologies
            gap: 30px
            padding-bottom: 40px
        &__technology
            max-width: 100%
            




.tariff
    background-color: $gray-background
    &__wrapper
        color: $white-text
        padding-top: 100px
        padding-bottom: 150px
        max-width: 1170px
        margin: 0 auto
    &__title
        font-weight: 700
        font-size: 42px
        line-height: 52px
        text-align: center
        padding-bottom: 40px
    &__variations
        display: flex
        gap: 24px
        justify-content: center
        padding-bottom: 60px
    &__toggle
        position: relative
        display: inline-block
        width: 42px
        height: 30px

        &-input
            opacity: 0
            width: 0
            height: 0
            &:checked + .tariff__toggle-slider
                background-color: #25DAC5
                &::before
                    transform: translateX(12px)
        &-slider
            position: absolute
            cursor: pointer
            background-color: #ABABAB
            border-radius: 22px
            width: 100%
            height: 100%
            transition: background-color 0.3s
            &::before
                content: ""
                position: absolute
                height: 24px
                width: 24px
                left: 3px
                bottom: 3px
                background-color: #FFFFFF
                border-radius: 22px
                transition: transform 0.3s
    &__services
        display: flex
        justify-content: center
        gap: 30px
        flex-wrap: wrap
    &__service
        height: 576px
        width: 370px
        overflow: hidden
        display: flex
        flex-direction: column
        border-radius: 10px
        &__img
            max-width: 370px
        &__definition
            flex: 1
            background-color: $item-gray-background
            border: 2px solid #EBEAED
            border-radius: 0 0 10px 10px
            padding: 45px 40px 40px 40px
            display: flex
            flex-direction: column
            justify-content: space-between

        &__intro
            display: flex
            justify-content: space-between
            font-weight: 500
            font-size: 22px
            line-height: 32px
            padding-bottom: 16px
        &__description
            font-weight: 400
            font-size: 16px
            line-height: 26px
        &__button
            padding: 12px 55px
            border: 2px solid #EBEAED
            border-radius: 100px
            font-weight: 500
            font-size: 18px
            line-height: 26px
            transition: all 0.3s
            &:hover
                background-color: #EBEAED
                color: $black
                transition: all 0.3s
            &-recomend
                background-color: $light-pink
                transition: all 0.3s
                border: none
                &:hover
                    background-color: $dark-pink
                    transition: all 0.3s
                    color: $white-text
    @media (max-width: 768px)
        &__wrapper
            padding-top: 20px
            padding-bottom: 20px
        &__title
            font-size: 30px
            line-height: 40px
            padding-bottom: 20px
        &__variations
            padding-bottom: 20px
        &__service
            height: auto
            &__definition
                padding: 15px 10px 10px 10px
                gap: 40px



.modal
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: #222228
    z-index: 1
    opacity: 0
    pointer-events: none
    transition: opacity 0.5s ease, pointer-events 0.5s ease
    border-radius: 10px
    border: 2px #FFFFFF solid
    &__overlay
        position: fixed
        z-index: 1
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-color: #000000a3
        opacity: 0
        pointer-events: none
        transition: opacity 0.5s ease, pointer-events 0.5s ease
        &-show
            opacity: 1
            pointer-events: auto
    &-login
        width: 570px
        height: 700px
        font-weight: 400
        color: rgba(255, 255, 255, 0.5)
        padding: 56px 48px
        &-show
            opacity: 1
            pointer-events: auto
        &__title
            font-weight: 700
            font-size: 42px
            padding-bottom: 16px
            color: $white-text
        &__info
            font-size: 16px
            padding-bottom: 56px
        &__inputs
            display: flex
            flex-direction: column
            gap: 40px
            padding-bottom: 56px
        &__input
            font-size: 22px
            padding-bottom: 8px
            border-bottom: 1px solid rgba(255, 255, 255, 0.6)
        &__submit
            font-size: 18px
            padding: 24px 188px
            background-color: $light-pink
            border-radius: 60px
            color: $white-text
            margin-bottom: 32px
        &__checkbox
            display: flex
            align-items: center
            gap: 14px
            &-input
                appearance: none
                -webkit-appearance: none
                position: relative
                width: 39px
                height: 26px
                background-color: #D1D1D1
                border: 1px solid #FFFFFF
                border-radius: 6px
                transition: 500ms
                &:checked
                    background-color: $checkbox
    &-thanks
        height: 204px
        width: 570px
        font-weight: 400
        color: rgba(255, 255, 255, 0.5)
        padding: 56px 48px
        &-show
            opacity: 1
            pointer-events: auto
        &__title
            font-weight: 700
            font-size: 42px
            padding-bottom: 16px
            color: $white-text
        &__info
            font-size: 16px
            padding-bottom: 56px
    